<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.triple.mapper.CityMapper">

    <resultMap type="com.homework.triple.dto.City" id="city">
        <id column="city_id"                property="cityId" />
        <result column="city_name"          property="cityName" />
        <result column="country_id"         property="countryId" />
        <result column="insert_date_time"   property="insertDateTime" />
        <result column="update_date_time"   property="updateDateTime" />
        <result column="viewed_date_time"   property="viewedDateTime" />
    </resultMap>

    <resultMap type="com.homework.triple.dto.UserCity" id="userCity">
        <result column="user_id"          property="userId" />
        <result column="city_id"          property="cityId" />
        <result column="viewed_date_time" property="viewedDateTime" />
    </resultMap>

    <insert id="insert" parameterType="com.homework.triple.dto.City" useGeneratedKeys="true" keyProperty="cityId">
        INSERT INTO tp_city (
              city_name
            , country_id
            , insert_date_time
        ) VALUES (
              #{cityName}
            , #{countryId}
            , CURRENT_TIMESTAMP
        )
    </insert>

    <select id="select" resultMap="city">
        SELECT *
          FROM tp_city
    </select>

    <select id="selectByCityId" resultMap="city">
        SELECT *
          FROM tp_city C
         WHERE C.city_id = #{cityId}
    </select>

    <select id="selectTravelingCity" resultMap="city">
        SELECT *
          FROM tp_user_travel UT
          JOIN tp_city_travel CT ON CT.travel_id = UT.travel_id
          JOIN tp_city C ON C.city_id = Ct.city_id
          JOIN tp_travel T ON T.travel_id = UT.travel_id
         WHERE UT.user_id = #{userId}
           AND CURRENT_TIMESTAMP >= T.travel_start_date_time AND T.travel_end_date_time >= CURRENT_TIMESTAMP
         ORDER BY T.travel_start_date_time
    </select>

    <select id="selectCityToTravel" resultMap="city">
        SELECT *
          FROM tp_user_travel UT
          JOIN tp_city_travel CT ON CT.travel_id = UT.travel_id
          JOIN tp_city C ON C.city_id = Ct.city_id
          JOIN tp_travel T ON T.travel_id = UT.travel_id
         WHERE UT.user_id = #{userId}
           AND T.travel_start_date_time > CURRENT_TIMESTAMP
         ORDER BY T.travel_start_date_time
    </select>

    <select id="selectCityRegisteredToday" resultMap="city">
        SELECT *
          FROM tp_city C
         WHERE C.insert_date_time BETWEEN TIMESTAMPADD(DAY, -1, CURRENT_DATE ) AND NOW()
         ORDER BY C.insert_date_time
    </select>

    <select id="selectCityViewedLastWeek" resultMap="city">
        SELECT C.*
          FROM tp_city C
          JOIN TP_user_city UC ON UC.city_id = C.city_id
         WHERE UC.viewed_date_time BETWEEN TIMESTAMPADD(DAY, -7, CURRENT_DATE ) AND NOW()
         ORDER BY UC.viewed_date_time
    </select>

    <update id="update">
        UPDATE tp_city
           SET <if test="cityName != null"> city_name = #{cityName}, </if>
               <if test="countryId != null"> country_id = #{countryId}, </if>
               update_date_time = CURRENT_TIMESTAMP
        WHERE city_id = #{cityId}
    </update>

    <delete id="delete">
        DELETE
          FROM tp_city
         WHERE city_id = #{cityId}
    </delete>

</mapper>