<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.triple.mapper.UserTravelMapper">

    <resultMap type="com.homework.triple.dto.UserTravel" id="userTravel">
        <result column="user_id"       property="userId" />
        <result column="travel_id"     property="travelId" />
    </resultMap>

    <insert id="insert" parameterType="com.homework.triple.dto.UserTravel">
        INSERT INTO tp_user_travel (
            user_id
          , travel_id
        ) VALUES (
            #{userId}
          , #{travelId}
        )
    </insert>

</mapper>